@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  :root  {
    --background: 175 100% 95%;
    --foreground: 175 5% 10%;
    --card: 175 50% 90%;
    --card-foreground: 175 5% 15%;
    --popover: 175 100% 95%;
    --popover-foreground: 175 100% 10%;
    --primary: 175 6% 90%;
    --primary-foreground: 0 0% 0%;
    --secondary: 175 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 137 30% 85%;
    --muted-foreground: 175 5% 35%;
    --accent: 137 30% 80%;
    --accent-foreground: 175 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 175 5% 90%;
    --border: 175 30% 50%;
    --input: 175 30% 26%;
    --ring: 175 6% 90%;
    --radius: 0.75rem;
  }



}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
