@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 210 100% 95%;
    --foreground: 210 5% 10%;
    --card: 210 50% 90%;
    --card-foreground: 210 5% 15%;
    --popover: 210 100% 95%;
    --popover-foreground: 210 100% 10%;
    --primary: 210 13% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 172 30% 85%;
    --muted-foreground: 210 5% 35%;
    --accent: 172 30% 80%;
    --accent-foreground: 210 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 50%;
    --input: 210 30% 26%;
    --ring: 210 13% 36%;
    --radius: 0.75rem;
  }
  .dark  {
    --background: 210 50% 10%;
    --foreground: 210 5% 90%;
    --card: 210 50% 10%;
    --card-foreground: 210 5% 90%;
    --popover: 210 50% 5%;
    --popover-foreground: 210 5% 90%;
    --primary: 210 13% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 172 30% 25%;
    --muted-foreground: 210 5% 60%;
    --accent: 172 30% 25%;
    --accent-foreground: 210 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 26%;
    --input: 210 30% 26%;
    --ring: 210 13% 36%;
    --radius: 0.75rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
